.jumbotron {
  background-image: url("images/chuttersnap-254941.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
}

.about {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: red;
}
