.jumbotron {
  background-image: url("images/chuttersnap-254941.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   padding-top: 10rem;
   padding-bottom: 10rem;
}

.about {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #148FAA;
  color: white;

}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .about-text {
    text-align: center;
    padding-bottom: 2rem;
  }
 .img-small {
   padding-bottom:
 }
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }


.properties {
   padding-top: 10rem;
   padding-bottom: 10rem;
}

.card {
  margin-top: 5rem;
}

.contact {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #697180;
  color:white;
}

.form-row {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
